<!doctype html>
<html lang="{{ site:short_locale }}">

<head>
    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Corporación Jurídica Penalito" />
    <meta name="description" content="Corporación Jurídica Penalito" />

    <!-- title  -->
    <title>Corporación Jurídica Penalito</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="img/logos/logo.png" />
    <link rel="apple-touch-icon" href="img/logos/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/logos/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/logos/apple-touch-icon-114x114.png" />

    <!-- plugins -->
    <link rel="stylesheet" href="css/plugins.css" />

    <!-- search css -->
    <link rel="stylesheet" href="search/search.css" />

    <!-- quform css -->
    <link rel="stylesheet" href="quform/css/base.css">

    <!-- theme core css -->
    <link href="css/styles.css" rel="stylesheet">
    <!-- <title>{{ title ?? site:name }}</title> -->
</head>

<body class="bg-gray-100 font-sans leading-normal text-gray-800">
    <div class="mx-auto px-2 lg:min-h-screen flex flex-col items-center justify-center">
        {{ template_content }}
    </div>
</body>

</html>